<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallanimals.complaints">
	
	<resultMap type="com.smallanimals.complaints.vo.ComplaintsVO" id="complaints">
		<result column="complaintsId" property="no"/>
		<result column="complaintsTitle" property="title" />
		<result column="complaintsContent" property="content"/>
		<result column="conmplaintsWriter" property="writer"/>
		<result column="complaintsWriteDate" property="writeDate"/>
		<result column="complaintsHit" property="hit"/>
		<result column="complaintsResult" property="result"/>
	</resultMap>
	
	<select id="list" parameterType="com.smallanimals.complaints.vo.ComplaintsVO" resultMap="complaints">
		select *
		from complaints
	</select>
	
	
</mapper>