<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- VO와 컬럼이 서로 이름이 다른 경우 사용을 한다. property = vo이름, column = column 이름 -->
	<resultMap type="com.smallanimals.member.vo.MemberVO" id="memberMap">
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="userPwd" column="user_pwd"/>
		<result property="userPwdchk" column="user_pwdchk"/>
		<result property="userName" column="user_name"/>
		<result property="userNickname" column="user_nickname"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userAddr" column="user_addr"/>
		<result property="userRegdate" column="user_regdate"/>
		<result property="userLoginDate" column="user_loginDate"/>
		<result property="userCheckparcel" column="user_checkparcel"/>
		<result property="userParcel" column="user_parcel"/>
		<result property="userEnabled" column="user_enabled"/>
		<result property="userType" column="user_type"/>
		<result property="userRole" column="user_role"/>
		<result property="userBirth" column="user_birth"/>
		
	</resultMap>
	
<!-- 	<select id="selectUserById" resultType="com.smallanimals.member.vo.AuthoritiesVO" resultMap="memberMap"> -->
	<select id="selectUserById" resultType="com.smallanimals.member.vo.MemberVO" >
		    <![CDATA[
		SELECT *
		FROM member
		WHERE userId = #{loginId}
		 ]]>
	</select>
	
	
	<insert id="registerMember" useGeneratedKeys="true"  keyProperty="userNo" parameterType="com.smallanimals.member.vo.MemberVO">
		insert into member(user_id,user_pwd,user_nickname,user_name,user_phone,user_regdate,user_addr)
		values(#{userId},#{userPwd},#{userNickname},#{userName},#{userPhone},#{userRegdate},#{userAddr})
	</insert>
	
</mapper>